<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-15" >
        <city-overview-component city="vm.cities[0]" />
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-15">
        <city-overview-component city="vm.cities[1]"  />
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-15">
        <city-overview-component city="vm.cities[2]"  />
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-15">
        <city-overview-component city="vm.cities[3]"  />
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-15">
        <city-overview-component city="vm.cities[4]"  />
    </div>
</div>