<!-- There are quitte some small (inline) css hacks in here, don't mind because they're specific to this component but usually better off in classes -->
<div class="col-xs-12">
	<div class="row text-center ">
		<div class="col-xs-12 weathercard" ng-style="{'background-color': $ctrl.city.displayColor}">
			<div class="row">
				<div class="col-xs-12 text-right" style="padding-right: 10px">
					<i ng-click="$ctrl.notImplementedAlert()" class="wi wi-refresh" style="font-size: 30px; cursor:pointer; color:white"></i>
				</div>
			</div>
			<div ng-if="$ctrl.city.name">
				<div ng-click="$ctrl.$location.url('forecast/'+ $ctrl.city.name.toLowerCase());" style="cursor: pointer">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="header-text">
								{{$ctrl.city.name.toUpperCase()}}
							</h1>
						</div>
					</div>

					<div class="row card-spacer">
						<div class="col-xs-12 text-center">
							<i class="wi {{$ctrl.getWeatherIcon($ctrl.city.icon)}}" style="font-size: 130px"></i>
						</div>
					</div>

					<div class="row">
						<div class="text-center col-xs-12 txt-card">
							<div style="position:relative">
								<span style="font-size: 85px; font-weight:bold">{{$ctrl.city.temp | number:0}}</span><span style="position:absolute; top: 30px;">&#8451;</span>
							</div>
						</div>
					</div>

					<div class="row card-spacer">
						<div class="col-xs-12 text-center">
							<div><i class="wi wi-wind-direction" style="font-size: 130px" ng-style="{'transform': 'rotate('+ $ctrl.city.windDeg  +'deg)'}"></i></div>

							<!-- convert from m/per second -->
						</div>
					</div>

					<div class="row">
						<div class="text-center col-xs-12 txt-card">
							<span style="font-size: 45px; font-weight: bold">{{$ctrl.city.windSpeed * 3.6 | number:0}}</span>
							<span style="font-size: 25px;"> km/h</span>
						</div>
					</div>
				</div>



				<!-- ugly quick slow loading or error flow, should add spinning circle -->
				<div ng-if="!$ctrl.city.name" style="height: 300px" class=" text-center">
					<p style="text-align: center; font-size: 25px; padding-top:30px">loading...</p>
					<p style="text-align: center; font-size: 15px">If you have connection problems I feel bad for you son...</p>
				</div>
			</div>
		</div>
	</div>
</div>