<!-- There are quitte some small (inline) css hacks in here, don't mind because they're specific to this component but usually better off in classes -->
<div class="row text-center">
	<div ng-repeat="city in $ctrl.cityOverview | limitTo: $ctrl.limit">
		<div class="col-xs-12 col-sm-4 col-lg-15">
			<div ng-if="city.id == $ctrl.forecast.id">
				<div class="weathercard" style="height:72px" ng-style="{'background-color': $ctrl.forecast.displayColor}">
					<div ng-click="$ctrl.$location.url('/');" style="cursor: pointer">
						<div class="row">
							<div class="col-12 text-right" style="padding-right: 25px; padding-top: 5px">
								<span style="font-size: 30px; cursor:pointer; color:white">&#10006;</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center" style="margin-top: -47px">
								<h1 style="font-weight: bold">
									{{city.displayName.toUpperCase()}}
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="city.id != $ctrl.forecast.id">
				<div class="weathercard" style="height:72px; background-color:#4c4c4c">
					<div ng-click="$ctrl.$location.url('/forecast/' + city.displayName.toLowerCase());" style="cursor: pointer">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h1 class="header-text">
									{{city.displayName.toUpperCase()}}
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row text-center">

	<div ng-repeat="forecast in $ctrl.forecast.forecasts | limitTo: $ctrl.limit">
		<div class="col-xs-12 col-sm-4 col-lg-15">

			<div class="weathercard" ng-style="{'background-color': $ctrl.forecast.displayColor}">
				<div class="row">
					<div class="col-xs-12 text-center" style="padding-top: 20px; font-size: 20px;">
						{{forecast.time | date:'dd MMMM' }}
					</div>
					<h1 style="font-size: 50px; font-weight: bold; margin-top: 5px; color: #1a1a1a">
						{{forecast.time | date:'HH:mm' }}
					</h1>

				</div>

				<div class="row card-spacer">
					<div class="col-12 text-center">
						<i class="wi {{$ctrl.getWeatherIcon(forecast.icon)}}" style="font-size: 130px"></i>
					</div>
				</div>

				<div class="row">
					<div class="text-center col-12 txt-card">
						<div style="position:relative">
							<span style="font-size: 85px; font-weight:bold">{{forecast.temp | number:0}}</span><span style="position:absolute; top: 30px;">&#8451;</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 text-center">
						<div><i class="wi wi-wind-direction" style="font-size: 130px" ng-style="{'transform': 'rotate('+ forecast.windDeg  +'deg)'}"></i></div>

						<!-- convert from m/per second -->
					</div>
				</div>

				<div class="row">
					<div class="text-center col-12 txt-card">
						<span style="font-size: 45px">{{forecast.windSpeed * 3.6 | number:0}}</span>
						<span style="font-size: 25px"> km/h</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-success btn-lg" style="padding:15px; margin: 15px;" ng-style="{'background-color': $ctrl.forecast.displayColor, 'border-color' : $ctrl.forecast.displayColor}"
			    ng-click="$ctrl.limit = $ctrl.limit + 5">SHOW MORE
 				</button>
		</div>
	</div>
</div>