

@import "./../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.weathercard {
    border-radius: 3px; 
    padding-bottom:20px;
    margin-bottom: 20px;
   // color:white
}

.txt-card {
    color:#1a1a1a;
}

.header-text {
    font-size: 35px; 
    font-weight: bold;
    color: #1a1a1a
}

.card-spacer {
    margin-top:30px; 
    margin-bottom: 30px
}


@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
    background-color: #1a1a1a; 
    margin-top: 15px
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}




